<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>

    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styels.css" />

    <title>Add/Remove</title>
  </head>
  <body>
    <main class="text-center">
      <div class="text-left" id="Owners"></div>
      <h1 class="text-longshadow">Add or Remove a Pet</h1>
      <div class="dynamic"></div>
    </main>
  </body>
</html>
