<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>

    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    <title>Checkin</title>
  </head>
  <body>
    <main class="text-center">
      <h1>Checkin or Out</h1>
      <div class="dynamic"></div>

      <a href="add_remove.html"><button class="btn-default addRemove">Add Pet</button></a>
    </main>
  </body>
</html>
