<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>


    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    </style>
    <title>Home</title>
  </head>
  <body>
    <main class="text-center pushMeDown">

      <h1>Welcome to The Schrödinger Hotel</h1>

      <a href="/views/new_user.html"><button class="btn-default btn-primary btn-lg newUser">New User</button></a>
      <a href="/views/checkin_checkout.html"><button class="btn-default btn-primary btn-lg existingUser">Existing User</button></a>

    </main>
  </body>
</html>
