<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Crud Up Pet Hotel</title>

    <script src="/assets/vendor/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>

    <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styels.css" />

  </head>
  <body>
    <h1>Welcome to the Pet Hotel!</h1>

    <button class="btn newUser">New User</button>
    <button class="btn existingUser">Existing User</button>

  </body>
</html>
