<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>


    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    </style>
    <title>Home</title>
  </head>
  <body>
    <main class="text-center">

      <h1 class="text-longshadow">Welcome to The Schrödinger Hotel</h1>

      <button class="btn-default newUser">New User</button>
      <button class="btn-default existingUser">Existing User</button>

    </main>
  </body>
</html>
