<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/scripts/client.js"></script>

    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    <title>User Info</title>
  </head>
  <body>
    <main class="text-center">
      <h1>User Info</h1>
      <form class="user" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name">

        <a href="/views/add_remove.html"><input type="submit" name="name" class="btn-default" value="Submit"></a>
      </form>
    </main>
  </body>
</html>
